<%= @game.player1.name %> vs. <%=@game.player2.name%>
<div>
  <p>
    <%= @game.player2.name %>'s HP:
  </p>
  <%= @game.player2.hp %>/60 HP
</div>
<div>
  <p>
    <%= @game.player1.name %>'s HP:
  </p>
  <%= @game.player1.hp %>/60 HP
</div>
<label for="Attack opponent">
  <form action="/attack" method="get">
  <input type="submit" id="Attack opponent" value="Attack!">
  </form>
</label>
<% if @lastaction == :attack %>
<div> <%= @game.message%></div>
<% end %>


